{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" id="top">
          {{ with .Params.covercaption }}
            <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
          {{ end }}
          <!-- 一旦記事リストと本文の構成を共通にする TODOとしてはclassの名前をリファクタ死体 -->
          <section class="postShorten-group main-content-wrap">
          <!-- 上のポストヘッダはこちらに移動 -->
            {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
            {{ partial "post/header.html" . }}
          {{ end }}
          <div id="main" class="content-with-right-sidebar">
            <div class="post-content markdown">
              <div class="main-content-wrap-post">
                  <!-- ここにサムネイルをでかく表示したい -->
                {{ if .Params.thumbnailImage }}
                  <div class="thumbnail-full-width">
                    <img src="{{ .Params.thumbnailImage }}" alt="{{ .Title }}" class="thumbnail-image"/>
                  </div>
                {{ end }}
                {{ .Content }}
                {{ partial "post/gallery.html" . }}
              </div>
              <!-- 右サイドバー追加したのでpost-footerを記事クラスの中に移動 -->
              <div id="post-footer" class="post-footer main-content-wrap-post">
                {{ if (not (eq .Params.showTags false)) }}
                  {{ with .Params.tags }}
                    {{ $tagsLength := len . }}
                    {{ if gt $tagsLength 0 }}
                      <div class="post-footer-tags">
                        <span class="text-color-light text-small">{{ i18n "post.tagged_in" }}</span><br/>
                        {{ partial "post/tag.html" $ }}
                      </div>
                    {{ end }}
                  {{ end }}
                {{ end }}
                {{ partial "post/actions.html" . }}
                <!-- {{ partial "post/comment.html" . }} -->
              </div>
            </div>
            <!-- 一旦右サイドバーここに仕込み -->
            {{ partial "sidebar-right.html" . }}
          </div>
        </article>
      </section>
        {{ partial "footer.html" . }}
      </div>
      {{ partial "post/share-options.html" . }}
    </div>
{{ partial "foot.html" . }}
